<section class="property-binding">
  <article>
  <h3>Interpolation / Interpolação</h3>
  <p> String renderizada com interpolação:{{ url }}</p>
  <p> Resultado de 1+1: {{ 1 +1}}</p>
  <p>Resultado de 1+1 não  é{{1 +1 +getValor() }}</p>
  <p>Curso Angular e gosto do curso: {{cursoAngular && getCurtirCurso() }}</p>


  </article>
  <article>

    <img src="{{urlImagem}}">
    <img [src]="urlImagem">
  </article>
  <article>
    <h3> Class e Style Binding</h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
  <option value="alert-success">Sucesso</option>
  <option value="alert-info">Info</option>
  <option value="alert-warning">Alerta</option>
  <option value="alert-danger">Erro</option>

      </select>
      <br><br>

      <div class="alert {{classe.value}}" role="alert">Esse bloco sera preenchido conforme o alerta</div>

      <div class="alert" role="alert"[class.alert-success]="classe.value=='alert-success'">Sucesso</div>
      <div class="alert" role="alert"[class.alert-info]="classe.value=='alert-info'">Info</div>
      <div class="alert" role="alert"[class.alert-warning]="classe.value=='alert-warning'">Warning</div>
      <div class="alert " role="alert"[class.alert-danger]="classe.value=='alert-danger'">Danger</div>


      <div class="alert alert-danger" [style.display]="classe.value == 'alert-danger' ? 'block' :'none'" role="alert">Esse texto aprece em caso de erro.</div>

    </div>
  </article>

  <article>
    <h3>Event Binding</h3>
    <div>
      <button (click)="botaoClicado()" class="btn btn-primary">Me clique!</button>
      <br><br>

      <input type="text"
        (keyup)="onKeyUp($event)"
        (keyup.enter)="salvarValor(campoInput.value)"
        (blur)="salvarValor(campoInput.value)"
        #campoInput
                        />

      <p> Valor Atual: {{valorAtual}}</p>
      <p> Valor Atual: {{valorSalvo}}</p>

      <span
       (mouseover)="onMouaseOverOUt()"
       (onMouaseout)="onMouaseOverOUt()"
       [class.highlight]="isMouseOver"
       >Passe o mouse sobre mim
      </span>
    </div>
  </article>

  <article>
    <div>
      <input type="text" ngModel ="nome"
      (ngModelChange)="nome ='$event'"/>

      <p> Você digitou:{{nome}}</p>
    </div>


    <div>
      <input type="text" ngmodel="pessoa.nome")]=""/>
      <input type="text" ngmodel="pessoa.idade"/>
    </div>
  </article>


  </section>
